<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="Config" type="CWK.WebService.Util.UtilCollection.BaseConfig.Config,CWK.WebService.Util"/>
  </configSections>
  <Config>
    <DataBaseUnit>
      <DataBase name="PORT" type="Oracle" source="PORT_168.100.1.100">
        <Identity name="hmw" userID="hmw" password="Je2HKbUY8iye"/>
        <Identity name="wl" userID="wl" password="wlgs001"/>
        <Identity name="lygcoal" userID="lygcoal" password="lyg!@#coal"/>
        <Identity name="transit" userID="transit" password="transit"/>
        <Identity name="BASERESOURCE" userID="BASERESOURCE" password="BASERESOURCE"/>
        <Identity name="JZHDD" userID="JZHDD" password="hHw66c/93lby"/>
        <Identity name="mobilecenter" userID="mobilecenter" password="mobile123centerxx"/>
        <Identity name="harbor" userID="harbor" password="harborxx123"/>
      </DataBase>
    </DataBaseUnit>
    <WebService WebServiceNamespace="http://tempuri.org/"/>
  </Config>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <!--<identity impersonate="true" userName="UploadFile" password="Aa123456789" /> --><!--权限认证（Excel导出）-->
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="QRCodePicUploadPath" value="E:\\Publish\\UploadFile\\hmw\\QRCodePicture\\"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceHMWSoap" />
        <binding name="CIServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:5140/ServiceHMW.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceHMWSoap" contract="HMWServiceReference.ServiceHMWSoap"
        name="ServiceHMWSoap" />
      <endpoint address="http://168.100.2.54/YKTService/CIService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CIServiceSoap"
        contract="CIService.CIServiceSoap" name="CIServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>