.footer {
    padding:5px 0px 5px 0px;
    font-size: 11.5px;
    font-family: 'Arial';
    text-align: center;
    overflow: hidden;
}

/*标题*/
.subtitle{
    /*background-color:#f5f1f1;*/
    background:url(../Images/Common/subtitle.png) repeat-x;
    height:41px;
    width:100%;
    text-align:center;
    font-size:14px;
    font-family:"Microsoft YaHei";
    line-height:41px;
    font-weight:bold;
    margin:0;
}
