.jiesuan { float:inherit; width:100%;}
.jiesuan_td1 { background-color:#F08080; font-size:1em; color:#ffffff; text-align:center}
.jiesuan_td2 { background-color:#f9f9fb; font-size:1em; color:#333; text-align:center;  }
.jiesuan_td2 span { color:#CC0000}